* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    font-size: 62.5%;
}

body, button, input, select, textarea {
    font-family: "Heebo", sans-serif;
}

body {
    background-color: #f7f7f7;
}

header {
    background-color: #fff;
    height: 8rem;
}

header #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    height: 8rem;
}

header #navbar .nav-brand {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

header #navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.nav-item a:hover {
    color: #555;
    transition: color 0.3s;
}

/*SECTION BANNER*/

main {
    /* outline: 1px solid red; */
    margin-top: 6rem;
}

main #banner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

.banner-content-title {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 6rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}

.banner-content-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    max-width: 50rem;
    margin-bottom: 3.8rem;
}

.banner-content-btn {
    background-color: #916A9F;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem 6rem;
}

.banner-image {
    border-radius: 50%;
    width: 50%;
    max-width: 50rem;
}

/*SECTION POSTS*/

section#posts {
    margin-top: 7rem;
    background: #edf7fa;
    
}

#posts .posts-content {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.posts-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.section-title {
    font-size: 2.2rem;
    font-weight: 500;
}

.view-all {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.posts-cards {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.post-card {
    background-color: #fff;
    padding: 2.4rem;
}

.post-card h3 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3.7rem;
}

.post-card span {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    display: block;
}

.post-card p {
    font-size: 1.6rem;
}